<style>

#Core_Shell {
	
}
#Core_Shell .SystemPanel {
	position: fixed;
	background-color: #333;
	height: 100%;
	top: 0;
	width: 60px;
}
#Core_Shell .Application {
	float: left;
	width: 40px;
	height: 20px;
	padding: 15px 5px;
	margin: 4px;
	border: 1px solid #666;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	line-height: 20px;
	font-family: arial;
	cursor: pointer;
}
#Core_Shell .Application:hover {
	color: #999;
	border-color: #FFF;
}

</style>
<div id="Core_Shell">
	<div class="SystemPanel" id="systemPanel"></div>
	<div style="padding: 20px 20px 20px 100px;">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur volutpat erat, quis ultrices nisi laoreet id. Pellentesque nec felis quis lectus egestas tempor vitae quis leo. Praesent pulvinar adipiscing faucibus. Suspendisse mollis velit pellentesque ante vehicula lobortis. In et consequat eros, quis bibendum erat. Aliquam ipsum leo, posuere a bibendum non, vulputate vitae justo. Nunc est felis, porta faucibus semper at, aliquam vitae odio. Maecenas tristique elit id tortor vehicula, non fringilla nisl dictum. Maecenas ut nisl porta, pharetra nibh ut, rhoncus lorem. Suspendisse congue metus vel libero lobortis pretium. Integer condimentum vestibulum mi, sed laoreet justo consectetur eu. Mauris lobortis augue sed mollis cursus. Sed rutrum volutpat risus, sed vestibulum nisl hendrerit et. Aenean quis magna ipsum. In nibh est, consectetur et sagittis et, tempor vel tortor. Mauris dapibus ante vitae interdum ultrices.
		</p>
		<p>
			Vestibulum dictum nisi erat. Integer aliquam purus eros, mollis eleifend lacus tincidunt a. Mauris elementum turpis ligula, ut gravida urna egestas eget. Praesent diam enim, luctus ac dui eget, rutrum scelerisque justo. Pellentesque eu scelerisque mauris. Donec quam velit, tincidunt rhoncus augue ut, varius sollicitudin enim. Integer varius viverra diam id tempus. Pellentesque tortor enim, fringilla vulputate elit vehicula, venenatis tempus dolor. Morbi vitae nisl eget purus tempus sollicitudin. Nunc adipiscing turpis quis suscipit accumsan. Mauris cursus gravida consectetur. Maecenas cursus nibh sed erat molestie rutrum. Nullam molestie rhoncus odio ut semper. Suspendisse euismod feugiat dolor quis tristique. Praesent ac dignissim mi.
		</p>
		<p>
			Nam ullamcorper nisi ac ligula laoreet ultricies. Donec in lacinia augue, vitae pellentesque orci. Aenean varius magna at dui egestas, ut vehicula lectus gravida. Curabitur porta nisi a orci scelerisque mattis. Quisque ut tempus neque, sed tincidunt leo. Pellentesque ut faucibus elit, ac dictum lorem. Nunc semper placerat elementum. Integer commodo malesuada odio, consequat vehicula purus euismod quis. Nam tristique lectus ipsum, et egestas eros rutrum et. Vivamus rhoncus tempor justo, vitae porttitor augue faucibus sed. Fusce interdum eget orci non sollicitudin. Donec vitae ornare est. Curabitur ac metus enim. Duis eget magna nunc. Maecenas vehicula nunc at facilisis vehicula. Quisque pulvinar arcu vitae eleifend blandit.
		</p>
		<p>
			Integer sodales non lorem nec blandit. Duis ut tempor quam. Cras id odio cursus, malesuada est non, rhoncus massa. Pellentesque ullamcorper urna nisl, ut mollis urna cursus a. Vivamus bibendum erat eu luctus ultricies. Maecenas a consequat enim, in auctor mauris. Curabitur quis posuere lectus. Suspendisse a sodales orci. Fusce in lacinia velit. Aliquam leo orci, venenatis eget dui ac, suscipit consequat tortor. Aenean venenatis mauris sed urna sagittis, in tristique nunc rhoncus. Vivamus tortor nisi, lacinia vel velit nec, ullamcorper auctor ante. Aenean rhoncus mi mauris, sit amet varius dui viverra tincidunt. Duis at dignissim mi, id condimentum quam. Maecenas venenatis quam metus, nec fringilla erat pulvinar vel.
		</p>
		<p>
			Fusce pharetra ac lacus eu viverra. Nulla tortor nulla, euismod nec ligula a, aliquet volutpat dolor. Aenean vulputate porta risus at tincidunt. Vivamus in dignissim est, at viverra diam. In hac habitasse platea dictumst. Donec id lectus nec purus vehicula aliquet. Sed venenatis dui ac lacus dapibus, ut accumsan nulla tempus. Quisque consectetur elit nisl, ut mattis enim dignissim id. Aliquam sed nulla mi. Ut sit amet faucibus lorem. Integer consectetur molestie sollicitudin. Aliquam vestibulum mattis leo eu rhoncus. Mauris et semper felis, hendrerit congue erat. Sed at magna sed diam gravida sollicitudin. Duis consequat sapien lacus, vitae ultrices libero porttitor eget. Sed elit augue, hendrerit quis dui quis, volutpat vehicula justo. 
		</p>
	</div>
</div>