@import url('general.css');
@import url('title.css');
@import url('header.css');

@import url('notes.css');
@import url('bls.css');
@import url('popup.css');
@import url('chat.css');
@import url('modules.css');


* {
	margin: 0;
}
body {
	margin: 0;
}
h1, h2, h3 {
	padding: 10px 5px;
}

.clear {
	clear: both;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	/* 885px is the minimum that doesnt break the layout with the all the menus in 1 line */
	min-width: 885px; /*this must  also match to the plp-container's properties, as the lightbox thingie is taken out of flow with the 'fixed' property */ 
	max-width: 1200px; /* someone moved the wrapper to include everything so this must have the full width*/ 
	width: 80%;
	position: relative;
	height: 100%;
	
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));
  -moz-filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));
  -ms-filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));
  -o-filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));
	
}

/* Loader */
#Loader {
    margin: 0 auto;
    position: relative;
    width: 32px;
}

#Loader  img{
	
}

/* Background */
#Background {
  width: inherit;
	/* 885px is the minimum that doesnt break the layout with the all the menus in 1 line */
  min-width: 883px; /* = 885-2 for the borders*/ /*this must  also match to the plp-container's properties, as the lightbox thingie is taken out of flow with the 'fixed' property */ 
  max-width: 1200px;
  position: fixed;
  background: #e6ede6;
  border-right: 1px solid #666666;
  border-left: 1px solid #666666;
  z-index: -1;
  
}

/* Core */
#Core {
  min-height: 400px;
  height: inherit;
}

#Core .SystemPanel {
  position: fixed;
  background-color: #666;
  height: 100%;
  top: 0;
  width: 60px;
  /*background-image: url(/core/res/img/sidebarbg.jpg);
  background-repeat: repeat-y;*/
  overflow: auto;
  border-right: 1px solid #333333;
}

#Core .Application {
  display: block; 
  width: 60px; 
  height: 60px; 
  background-repeat: no-repeat;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  font-family: arial;
  cursor: pointer;
	
 /* -webkit-filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.5));
  -moz-filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.5));
  -ms-filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.5));
  -o-filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.5));
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.5));*/
}

#Core .Application.active {
  background-image: url(/core/res/img/sidebarSelected.jpg);
}

#Core .Application:hover {
  background-image: url(/core/res/img/sidebarSelected.jpg);
}

#Core .Application img {
  position: relative;
  top: 10px;
  left: 10px;
  width: 40px;
}

#Core .Application:first-of-type {
  margin-top: 20px;
}

#Core .Viewport {
  padding-left: 60px;
  height: inherit;
  height:100%;
  overflow-y: auto;
}

.mousedisabled {
	/*pointer-events : none;*/
}

#Core .mousedisabled:hover {
	background-image: none;
	cursor: default;
}

.mouseenabled {
	pointer-events : auto;
}

.mousedisabled img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome, Safari */
}

.hidden {
	display: none;
}


/* MODAL UPDATE */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .cclose {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/*http://ihatetomatoes.net/remove-input-inner-shadow-ios/*/
textarea, input[type="text"] {
-webkit-appearance: none;
}
