@charset "utf-8";
/* CSS Document */




/* NOTE */

#bls-note {
  display: block;
  width: 340px;

  background: #fff;
  float: right; /* to create a layout with a fluid left and a fixed right, this has to come BEFORE the '#plp-modules' in the html otherwise float right won't work*/
  padding: 15px;
  box-shadow: inset 1px 0 0 #cecece;
}

.bls-itemfloatleft {
  float: left;
}

.bls-itemfloatright {
  float: right;
}

.bls-noteformsubmit {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bls-notesul {
  list-style-type: none;
}

#bls-notestitle {
  color: #669900;
  border-bottom: #CCCCCC 1px solid;
  font-size: 15px;
  font-weight: bold;
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
}

#bls-notestitle p {
  display: inline;
  float: left;
}

#bls-notestitle a {
  display: inline;
  float: right;
  width: 20px;
  background: url(/core/res/img/notes.png) no-repeat right;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: table-cell;  /* vertically centralising text: http://www.vanseodesign.com/css/vertical-centering/ */
  vertical-align: middle ;
}

#bls-notesform {
  border-bottom: #CCCCCC 1px solid;
  width: 340px;
}

#bls-notesformli {
  margin-bottom: 10px;
}

#bls-goals {
  color: #669900;
  font-size: 15px;
  font-weight: bold;
}

.bls-current {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.bls-new {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#bls-notestable {
  width: 340px;
  padding-bottom: 10px;
}

#bls-notestable tr {
  height: 40px;
}

.bls-notecol1 {
  font-size: 13px;
  color: #333333;
  width: 40%;
}

.bls-notecol2 {
  font-size: 22px;
  font-weight: bold;
  color: #666;
  width: 35%;
  text-align: center;
}

.bls-notecol3 {
  text-align: center;
}

#bls-notestable input {
  border: #999 solid 1px;
  width: 74px;
  height: 28px;
  text-align: center;
  color: #666;
  font-size: 22px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}